/*   
  Project by Zua 
  https://github.com/thatziv/webhook
  I think it's good that i'm attributing the source I'm basically plagiarizing from.
*/
@import url('https://fonts.googleapis.com/css?family=Comic+Sans+MS');
* {
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
}

body {
    background: #23272A;
}

#container {
    margin-top: 80px;
    margin: auto;
    margin-right: 25px;
    margin-left: 25px;
    background: #23272A;
    padding: 25px;
}

#header {
    text-align: center;
    margin-top: 50px;
    margin: auto;
    font-size: 25px;
    color: #7289DA;
}

.center-align {
    text-align: center;
}

p {
    font-size: 30px;
    color: #7289DA;    
}

a, a:visited {
    color: rgb(253, 7, 7)
}

#link, #username, #content, #avatar {
    font-size: 20px;
    background-color: #2C2F33;
    width: 75%;
    padding: 20px;
    border: 2px solid #00000003;
}

#btn {
    width: 40%;
    font-size: 25px;
    margin-top: 25px;
    padding: 25px;
    background-color: #99AAB5;
    border: 2px solid #000000c9;
}

#btn:hover { 
    background-color: #7289DA;
}

#log {
    text-align: center;
    width: 5%;
    background-color: rgb(110, 255, 43);
    color: green;
}
